<% include partials/header %>

<h1>The Posts Page</h1>

<% for (var i = 0; i < heroArray.length; i++){ %>
    <li>
        <%= heroArray[i].name %> - <strong><%= heroArray[i].attack %></strong>
    </li>
<% } %>
<% heroArray.forEach(function(post){ %>
    <li>
        <%= heroArray.name %> - <strong><%= heroArray.attack %></strong>
        <p>
            <a href="/posts/<%= heroArray.power %>">Info</a>
        </p>
    </li>
<% }) %>

<form action="/addpost" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="attack" placeholder="attack">
    <input type="text" name="health" placeholder="health">
    <button>I made a new post!!</button>
</form>

<% include partials/footer %>
